*{
	background-color:black;
	color: white;
	font-family: Helvetica;
}


body{

	border: 1px solid red;
	text-align: center;
	margin: 10% 20% 20%;
}

h1{
	padding: 0 0 0 10px;

	text-align:center;
}

li{
	list-style: none;

}
li, a{
	color: red;

}

a:hover{
	background-color:red;
	color: black;
}
